html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:100%;
}

body {
	width: 90%;
	max-width: 1200px;
	margin: 1em auto;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	background-color: #fff;
}

pre {
	overflow: auto;
}

a {
	color:#0088cc;
	text-decoration:none;
}

a:hover, a:focus {
	color:#005580;
	text-decoration:underline;
}

header {
	border-bottom: 1px solid #d70a53;
	margin-bottom: 1em;
}

footer {
	text-align: center;
	margin-top: 1em;
}

ul, ol {
	padding-left: 0;
}

ul, li {
	list-style: none;
}

ul li {
	display: inline-block;
}

ul li a {
	background: #fafafa;
	border: 1px solid #ddd;
	margin: 0 0.5em 0.2em 0;
	border-radius: 0.5em;
	padding: 0.15em 0.5em;
	display: block;
}

nav ul li {
	display: block;
}

nav ul li a {
	background: none;
	border: none;
	padding: 0;
}

h1 {
	font-size : 250%;
	padding: 0;
	margin: 0;
	margin-right: 260px;
	line-height: 1.4em;
}

h2 {
	font-size : 110%;
	background: #d70a53;
	margin: 1em 0 0;
	padding: 0.5em;
	color: #fff;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

h3 {
	font-size : 110%;
}

table {
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	border-collapse: collapse;
	box-shadow: 0 1px 3px #eee;
	margin-bottom: 1em;
}

tr:nth-child(odd) {
	background-color: #fafafa;
}

td, th {
	text-align: left;
	padding: 0.25em 0.5em;
	border-bottom: 1px solid #ddd;
	border-collapse: collapse;
	vertical-align: top;
}

table tr:last-child td {
	border: none;
}

th {
	background: #eee;
	padding: 0.5em;
}

hr {
	display: none;
}

form {
	overflow: hidden;
	margin: 1em 0;
}

#searchform {
	text-align: center;
	padding: 1em 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

label {
	cursor: pointer;
	display: inline-block;
}

input[type="text"] {
	background: #fff;
	border: 1px solid #ddd;
	padding: 0.25em;
	border-radius: 0.3em;
}

input[type="submit"] {
	cursor: pointer;
	padding: 0.25em 0.5em;
	border-radius: 0.3em;
	border: 1px solid #ddd;
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 15%, rgba(209,209,209,1) 28%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(15%,rgba(219,219,219,1)), color-stop(28%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 15%,rgba(209,209,209,1) 28%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 15%,rgba(209,209,209,1) 28%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 15%,rgba(209,209,209,1) 28%,rgba(254,254,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 15%,rgba(209,209,209,1) 28%,rgba(254,254,254,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:hover {
	text-shadow: 0 0 3px #666;
}

input[type="checkbox"] {
	vertical-align: middle;
}

label[rel="urgency"] {
	padding: 0.5em 0;
	color: #fff;
	background: #729fcf;
	/*background: #ad7fa8;*/
	/*background: #f74a73;*/
}

label[rel="scope"] {
	padding: 0.5em 0;
	color: #fff;
	background: #3465a4;
	/*background: #75507b;*/
	/*background: #e72a53;*/
}

label[rel="extra"] {
	padding: 0.5em 0;
	color: #fff;
	background: #204a87;
	/*background: #5c3566;*/
	/*background: #d70a53;*/
}

label[rel="nodsa"] {
	padding: 0.5em 0;
	color: #fff;
	background: #5399E4;
	/*background: #5c3566;*/
	/*background: #d70a53;*/
}

label[rel="nodsa"]:last-child {
	margin-right: 0.5em;
	padding-right: 0.5em;
}

span.red { color: red; }
span.yellow { color: #c0c000; }
span.purple { color: purple; }
span.green { color: green; }
span.dangerous { color: orange; }

@media all and (max-width: 641px) {
	body {
		font-size: 13px;
	}
	table {
		table-layout: fixed;
	}
	td, th {
		overflow: hidden;
	}
}

@media all and (min-width: 641px) {
	header {
		background: url(/tracker/logo.png) right 5px no-repeat;
		min-height: 30px;
	}
}
